/* Styling for tables. */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #4C5952;
    padding: 5px;
}

table th {
    background-color: #4C5952;
    padding: 5px;
}

table th p {
    color: #EEEEEE;
    font-weight: bold;
}

table p {
    margin: 0px;
}

table tr:hover {
    background-color: #FFFFFF;
}

<<<<<<< HEAD
/* Edit link stuff. */
table td:last-child {
    padding: 0px;
    width: 120px;
    text-align: center;
}

table td:last-child a, table td:last-child a:visited, table td:last-child a:focus {
    display: block;
    background-color: #4C5952;
    padding: 5px;
    color: #EEEEEE;
    border-bottom: 0px;
    width: 50px;
    float: left;
    transition: color 0.25s linear 0s, background-color 0.25s linear 0s;
}

table td:last-child a:hover {
    color: #4C5952;
    background-color: #EEEEEE;
}
=======
>>>>>>> upstream/master
