* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 400%;
}

html {
    height: 100%;
    background-color: #272B32;
}

body {
    background: -o-linear-gradient(#060707, #272B32);
    background: -moz-linear-gradient(#060707, #272B32);
    background: -webkit-linear-gradient(#060707, #272B32);
    background: linear-gradient(#060707, #272B32);
    height: 100%;
}

header {
    background-color: #030302;
    width: 100%;
    border-bottom-width: thick;
    border-bottom-color: #2681A3;
    border-bottom-style: solid;
}

.container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.padding {
    padding: 6%;
}

.clearfix {
    clear: both;
}

h1 {
    font-weight: bold;
    color: #EEEEEE;
}

h2 {
    font-size: 16pt;
    font-weight: bold;
    color: #4C5952;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    width: 100%;
}

ul li {
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: #3C4045;
    width: 100%;
}

p {
    color: #EEEEEE;
}

input, select , input[readonly = "readonly"], input[readonly = "readonly"]:hover, input[readonly = "readonly"]:active, input[readonly = "readonly"]:focus {
    padding: 5px;
    border: 1px solid #8FA69B;
    background-color: #EEEEEE;
    color: #4C5952;
    border-radius: 5px;
    transition: background-color 0.25s linear 0s, border-color 0.25s linear 0s, box-shadow 0.25s linear 0s;
    -webkit-transition: background-color 0.25s linear 0s, border-color 0.25s linear 0s, box-shadow 0.25s linear 0s;
}

input:hover, input:focus, select:hover, select:focus {
    border-color: #4C5952;
    background-color: #FFFFFF;
}

input[type="submit"], input[type="button"] {
    background-color: #2681A3;
    color: #EEEEEE;
    transition: background-color 0.25s linear 0s;
    -webkit-transition: background-color 0.25s linear 0s;
    width: 100%;
    padding: 6%;
}

a, a:visited, a:focus {
    font-family: inherit;
    font-size: inherit;
    color: #4C5952;
    text-decoration: none;
    border-bottom: 1px dotted #4C5952;
    transition: color 0.25s linear 0s;
    -webkit-tranisition: color 0.25s linear 0s;
}

.filter-header {
    margin-top: 20px;
}

#top {
    margin-top: 0px !important;
}

.filter-header ul li select {
    width: 150px;
}

.filter-header ul li {
    width: 150px;
    margin-left: 10px;
}
    
.filter-header ul li:first-child {
    margin-left: 0px;
}

#js-banner {
    border: 1px solid #FF4444;
    background-color: #FFDDDD;
    text-align: center;
}

.red-box {
    width: 100%;
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: #3C4045;
}

.red-box p {
    color: #FF4444;
    font-size: 300%;
}
