/* Styles specific to the login page. */

input[type="text"], input[type="password"] {
    width: 100%;
    height: 100%;
    font-size: 400%;
    font-family: sans-serif;
    background-color: #060707;
    border: 2px solid #3C4045;
    color: #EEEEEE;
}

input[type="text"]:focus, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:active {
    border: 2px solid #2681A3;
    background-color: #060707 !important;
    color: #EEEEEE;
}

.input-field-container {
    width: 100%;
    height: 100%;
}

.input-field-container .input-field {
    width: 60%;
    margin-left: 6%;
    float: left;
    height: 100%;
}

.input-field-container .input-field:first-child {
    width: 33%;
    margin-left: 0px;
    height: 100%;
}

#bad-password {
    border: 1px solid #FF4444;
    background-color: #FFDDDD;
    margin-bottom: 20px;
}

#bad-password .padding {
    padding: 10px;
}

#bad-password p {
    color: #FF4444;
    font-size: 10pt;
}
